.header-menu{
    background-color: blueviolet;
}

.menu-item{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
}
.menu-list{
    color:white;
    font-size: 1rem;
    cursor: pointer;
}
.menu-item :hover{
    color: aqua;
}
.right-menu-list{
    justify-content: flex-end;
}

// @media screen and (min-width:100px) and  (max-width:870px){
//     .header-menu{
//             width: 100%;
//             max-width: 100%;
//     }
// }