<h1 class="heading">Users List</h1>
<!-- <div>
<table>
    <tr>
    <th>First Name</th>
    
    <th>Last Name</th>
        <th>Username </th>
        <th>Action </th>
    </tr>
    <ng-container *ngIf="usersList.length > 0">
    <tr *ngFor="let user of usersList">
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td>
        <div class="action-item">
            <button class="submit-btn" (click)="editUser(user)"> Edit</button>
            <button class="submit-btn" (click)="deleteUser(user)"> Delete</button>
        </div>
        </td>
    </tr>
    </ng-container>
</table>
</div> -->

<div class="card">
    <p-table [value]="usersList" class="usertable" [tableStyle]="{'min-width': '30rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:20%">First Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="lastname" style="width:20%">Last Name <p-sortIcon field="lastname"></p-sortIcon></th>
                <th pSortableColumn="username" style="width:20%">User Name <p-sortIcon field="username"></p-sortIcon></th>
                <th pSortableColumn="password" style="width:20%">Password <p-sortIcon field="password"></p-sortIcon></th>
                <th pSortableColumn="creation_date" style="width:20%">Creation Date <p-sortIcon field="creation_date"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.creation_date}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="action-container">
    <button class="submit-btn" (click)="generatePDF()"> Export As PDF</button>
</div>
