
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form [formGroup]="loginForm"  name="loginForm">
          <div class="row">
            <input type="text" placeholder="userName" formControlName="userName" required>
          </div>
          <div class="row">
            <input type="password" placeholder="Password"  formControlName="password" required>
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <button type="button" (click)="onSubmit(loginForm)">Login</button>
          </div>
          <!-- <div class="row button">
            <button type="button" (click)="getAllPost()">Get Stuent</button>
          </div> -->
          <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
        </form>
      </div>
    </div>
